# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

src/assets/balloons.jpg
src/assets/books.jpg
src/assets/camera.jpg
src/assets/help.jpg
src/assets/knitting.jpg
src/assets/literature.jpg
src/assets/programming.jpg
src/assets/studying.jpg
src/assets/teamwork.jpg
src/assets/water.jpg
src/assets/waterfall.jpg
src/assets/woman-hands.jpg

src/data/images-home.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local

# Temporary files
*.tmp
*.bak
*.swp

# User-specific files
.DS_Store
