.error-message {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .error-message {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    .error-message {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 500px) {
    .error-message {
        font-size: 1.4rem;
    }
}