.home-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.slider-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.home-slider-slide {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    height: 100%;
}

.slider-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 35%;
}

.home-slider-title {
    position: absolute;
    top: 20%;
    left: 10%;
    bottom: 0;
    font-size: 5rem;
    -webkit-text-stroke: 3px black;
}

.slider-btn {
    all: unset;
    position: absolute;
    font-size: 2rem;
    top: 0;
    bottom: 0;
    display: block;
    padding: 1rem;
    outline: 50px;
    cursor: pointer;
    transition: .2s ease-in-out;
    height: 100%;
}

.slider-btn:hover,
.slider-btn:focus-visible {
    background-color: rgba(0, 0, 0, .5);
}

.slider-btn > * {
    stroke: var(--text-color1);
    fill: var(--background-color1);
}

.slider-btn:first-of-type {
    left: 0;
}

.slider-btn:last-of-type {
    right: 0;
}

@keyframes pointLeft {
   50% {
        transform: translateX(-5px);
        scale: 1.1;
   }
}

@keyframes pointRight {
    50% {
         transform: translateX(5px);
         scale: 1.1;
    }
}

.home-slider-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
}

.home-slider-nav > * {
    font-size: 1rem;
    cursor: pointer;
    margin-right: 15px;
}

.home-slider-nav > *:last-of-type {
    margin: 0;
}

.slider-btn:focus-visible,
.home-slider-nav > *:focus-visible {
    outline: auto;
}

@media not (prefers-reduced-motion) {
    .home-slider-slide {
        transition: translate .5s ease-in-out;
    }

    .slider-btn:first-of-type:hover > *,
    .slider-btn:first-of-type:focus-visible > * {
        animation: pointLeft .5s ease-in-out;
    }

    .slider-btn:last-of-type:hover > *,
    .slider-btn:last-of-type:focus-visible > * {
        animation: pointRight .5s ease-in-out;
    }
}