.main-layout {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

/* Header styling */
.header-container {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: solid 10px white;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 1000;
}

.header-container h1 > a,
.header-container > .header-title > button,
.header-nav > a,
.header-userinfo > a,
.footer-column > h2,
.footer-column > h3,
.footer-column > p,
.footer-socialmedia > span > svg {
    color: var(--text-color1);
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title h1 {
    font-size: 3rem;
}

.header-container > .header-title > button {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    display: none;
}

.header-container > .header-title > button > * {
    font-size: 2rem;
    cursor: pointer;
}

.header-nav, 
.header-userinfo {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.header-nav a, 
.header-userinfo a {
    margin: 7px;
    font-size: 2rem;
    letter-spacing: -2px;
    font-weight: 600;
    position: relative;
}

.header-userinfo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-nav a::after, 
.header-userinfo a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--text-color1);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    transition: .2s;
}

.header-nav a:hover, 
.header-userinfo a:hover {
    color: var(--text-color1-hover);
}

.header-nav a:hover::after, 
.header-userinfo a:hover::after {
    background-color: var(--text-color1-hover);
    width: 100%;
}

.main-container {
    width: 100%;
    min-height: 100vh;
}

/* Header media */
@media screen and (max-width: 1350px) {
    .header-container h1 {
        font-size: 2.9rem;
    }

    .header-nav a, 
    .header-userinfo a {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1090px) {
    .header-nav a > span, 
    .header-userinfo a > span {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .header-container h1 {
        font-size: 2.6rem;
    }

    .header-nav a, 
    .header-userinfo a {
        font-size: 2rem;
    }
}

@media screen and (max-width: 880px) {
    .header-container,
    .header-nav, 
    .header-userinfo {
        flex-direction: column;
        text-align: center;
    }

    .header-container > .header-title > button {
        display: flex;
    }

    .header-nav, 
    .header-userinfo {
        width: 100%;
    }

    .header-nav a::after, 
    .header-userinfo a::after {
        top: auto;
        bottom: 0;
    }

    .header-nav a > span, 
    .header-userinfo a > span {
        display: block;
    }

    .header-nav a > svg, 
    .header-userinfo a > svg {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .header-container h1 {
        font-size: 2.3rem;
    }

    .header-nav a, 
    .header-userinfo a {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 380px) {
    .header-container h1 {
        font-size: 2rem;
    }

    .header-nav a, 
    .header-userinfo a {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 360px) {
    .header-container h1 {
        font-size: 1.5rem;
    }

    .header-nav a, 
    .header-userinfo a {
        font-size: 1.2rem;
    }
}

/* Main-container styling */
.main-container {
    padding-top: 130px;
    height: 100%;
}

/* Main-container media */
@media screen and (max-width: 1000px) {
    .main-container {
        padding-top: 110px;
    }
}

@media screen and (max-width: 600px) {
    .main-container {
        padding-top: 90px;
    }
}

@media screen and (max-width: 360px) {
    .main-container {
        padding-top: 70px;
    }
}

/* Footer styling */
.footer-container {
    background-color: var(--background-color1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 70px;
    margin-top: 10px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column:first-of-type,
.footer-column:last-of-type {
    align-items: center;
}

.footer-column h2 {
    font-size: 2.5rem;
}

.footer-copyright {
    color: var(--text-color2) !important;
}

.footer-column h3 {
    font-size: 1.6rem;
}

.footer-socialmedia {
    font-size: 1.5rem;
}

.footer-socialmedia span {
    margin: 0 3px;
    color: var(--text-color1);
    stroke: var(--text-color1);
    scrollbar-color: var(--text-color1);
}

/* Footer media */
@media screen and (max-width: 900px) {
    .footer-column h2 {
        font-size: 2rem;
    }
    
    .footer-column h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 765px) {
    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-column {
        display: inline;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .footer-column h2 {
        font-size: 1.5rem;
    }
}