.authentication-container > form > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.authentication-container > form > label > svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.valid {
    color: rgb(0, 221, 0);
    display: flex;
}

.invalid {
    color: rgb(220, 0, 0);
    display: flex;
}

.instructions, .err-msg {
    position: static;
}

.offscreen {
    position: absolute;
    top: -100px;
    left: -500px;
}

.btn-disabled {
    background-color: var(--text-color2);
    cursor: not-allowed;
}